.place__title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 110%;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    line-height: 109%;
  }
}